<% provide(:title, "ログイン") %>
<h1>ようこそ！</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, 'メールアドレス' %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, 'パスワード' %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "ログインする", class: "btn btn-primary" %>
    <% end %>

    <p>まだ会員ではないですか? <%= link_to "Join now!", signup_path %></p>
  </div>
</div>
