<div class="container">
<%= form_for(ige, url: yield(:url), method: yield(:method)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <!-- 検査概要 -->
  <div class="row">

  　<!-- 検査日付 -->
  	<div class="col-md-2">
      <%= f.label :test_date, '検査日付' %>
      <div class="input-group date datepicker">
        <%= f.text_field :test_date, class: 'form-control' %>
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>

    <!-- 検査項目名 -->
    <div class="col-md-4">
  	  <%= f.label :test_category, '検査項目名' %>
  	  <%= f.select :test_category, 
                   IgesHelper::TEST_CATEGORY.each_index.map { |idx| [IgesHelper::TEST_CATEGORY[idx], idx] },
                   :prompt => "選択してください", 
                   class: 'form-control'
      %>
    </div>

　　<!-- 総IgE値 -->
    <div class="col-md-2">
  	  <%= f.label :ige_value, '測定値（総IgE値）' %>
  	  <%= f.number_field :ige_value, class: 'form-control' %>
    </div>
    <div class="col-md-1">
  	  <%= f.label :ige_unit, '単位' %>
  	  <%= f.select :ige_unit, 
                   IgesHelper::TEST_UNIT.each_index.map { |idx| [IgesHelper::TEST_UNIT[idx], idx] },
  	               class: 'form-control input-sm'
      %>
  	</div>
  </div>

　<!-- アレルゲン詳細 -->
  <% IgesHelper::ALLERGEN_DETAIL.each do |name| %>
  <div class="row">
    <div class="card <%= name["en"] %>">

      <p><%= name["category"] %> - <%= name["sort"] %></p>

      <!-- アレルゲン名 -->
      <h4><%= name["ja"] %></h4>

      <!-- 検査結果 -->
      <div class="row">
        <div class="col-md-2">
          <%= f.label "allergen_#{name["en"]}_class".intern, '検査結果（クラス）' %>
          <%= f.select "allergen_#{name["en"]}_class".intern,
                       7.times.map { |i| [i, i] },
                       :prompt => "選択してください", 
                       class: 'form-control input-sm'
          %>
        </div>
      </div>

    </div>
  </div>
  <% end %>

　<!-- ボタン -->
  <div class="col-md-2">
    <%= f.submit yield(:button_text), data: { disable_with: '記録中...' }, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect" %>
  </div>

<% end %>
</div>