<div class="container">
<%= form_for(@ige, url: yield(:url)) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <!-- 検査概要 -->
  <div class="row">

  　<!-- 検査日付 -->
  	<div class="col-md-2">
      <%= f.label :test_date, '検査日付' %>
      <div class="input-group date datepicker">
        <%= f.text_field :test_date, class: 'form-control' %>
        <span class="input-group-addon">
          <span class="fa fa-calendar"></span>
        </span>
      </div>
    </div>

    <!-- 検査項目名 -->
    <div class="col-md-4">
  	  <%= f.label :test_category, '検査項目名' %>
  	  <%= f.select :test_category, [[IgesHelper::TEST_CATEGORY[0], "0"],
  	                                [IgesHelper::TEST_CATEGORY[1], "1"],
  	                                [IgesHelper::TEST_CATEGORY[2], "2"],
  	                                [IgesHelper::TEST_CATEGORY[3], "3"],
  	                                [IgesHelper::TEST_CATEGORY[4], "4"],
  	                                [IgesHelper::TEST_CATEGORY[5], "5"],
  	                                [IgesHelper::TEST_CATEGORY[6], "6"],
  	                                [IgesHelper::TEST_CATEGORY[7], "7"],
  	                                [IgesHelper::TEST_CATEGORY[8], "8"],
  	                                [IgesHelper::TEST_CATEGORY[9], "9"],
  	                                [IgesHelper::TEST_CATEGORY[10], "10"],
  	                                [IgesHelper::TEST_CATEGORY[11], "11"],
  	                                [IgesHelper::TEST_CATEGORY[12], "12"],
  	                                [IgesHelper::TEST_CATEGORY[13], "13"],
  	                                [IgesHelper::TEST_CATEGORY[14], "14"], 
  	                                [IgesHelper::TEST_CATEGORY[15], "15"],
  	                                [IgesHelper::TEST_CATEGORY[16], "16"],
  	                                [IgesHelper::TEST_CATEGORY[17], "17"]], 
  	                            class: 'form-control' %>
    </div>

　　<!-- 総IgE値 -->
    <div class="col-md-2">
  	  <%= f.label :ige_value, '測定値（総IgE値）' %>
  	  <%= f.text_field :ige_value, class: 'form-control' %>
    </div>
    <div class="col-md-1">
  	  <%= f.label :ige_unit, '単位' %>
  	  <%= f.select :ige_unit, [[IgesHelper::TEST_UNIT[0], "0"], 
  	                           [IgesHelper::TEST_UNIT[1], "1"], 
  	                           [IgesHelper::TEST_UNIT[2], "2"], 
  	                           [IgesHelper::TEST_UNIT[3], "3"]],
  	                        class: 'form-control input-sm' %>
  	</div>
  </div>

　<!-- 構成アレルゲン -->
  <% IgesHelper::ALLERGEN_SORT.each do |name| %>
  <div class="row">
    <div class="card <%= name["en"] %>">

      <!-- アレルゲン名 -->
      <h4><%= name["ja"] %></h4>

      <!-- 検査結果 -->
      <div class="row">
        <div class="col-md-4">
          <%= f.label "allergen_#{name["en"]}_value".intern, '検査値' %>
          <%= f.text_field "allergen_#{name["en"]}_value".intern, class: 'form-control allergen_value', placeholder: "(ex.100)" %>
        </div>
        <div class="col-md-1">
          <%= f.label "allergen_#{name["en"]}_unit".intern, '単位' %>
          <%= f.select "allergen_#{name["en"]}_unit".intern, [[IgesHelper::TEST_UNIT[0], "0"], 
                                                              [IgesHelper::TEST_UNIT[1], "1"], 
                                                              [IgesHelper::TEST_UNIT[2], "2"], 
                                                              [IgesHelper::TEST_UNIT[3], "3"]],
                                                          class: 'form-control input-sm test_unit' %>
        </div>
      </div>

      <!-- クラス -->
      <div class="row">
        <div class="col-md-2">
          <%= f.label "allergen_#{name["en"]}_class".intern, 'クラス' %>
          <%= f.text_field "allergen_#{name["en"]}_class".intern, class: 'form-control input-sm' %>
        </div>
      </div>

    </div>
  </div>
  <% end %>

　<!-- ボタン -->
  <div class="col-md-2">
    <%= f.submit yield(:button_text), class: "btn btn-primary" %>
  </div>

<% end %>
</div>