<% provide(:title, 'IgE') %>
<h1><%= @ige.test_date %></h1>

<!-- 検査概要 -->
<section id="test_summary">
  <div id="test_category" hidden><%= @ige.test_category %></div>
  <p>検査種類: <%= get_category_name(@ige.test_category) %></p>
  <p>総IgE値: <%= @ige.ige_value %> <%= get_unit_name(@ige.ige_unit) %></p>
</section>

<!-- アレルゲン詳細 -->
<section id="allergen_detail">
  <% IgesHelper::ALLERGEN_DETAIL.each do |name| %>
    <% unless @ige["allergen_#{name["en"]}_class"].blank? %>
      <p class="allergen <%= name["en"] %>"><%= name["ja"] %>: クラス<%= @ige["allergen_#{name["en"]}_class"] %></p>
    <% else %>
      <p class="allergen <%= name["en"] %>"><%= name["ja"] %>: -- </p>
    <% end %>
  <% end %>
</section>

<%= button_to '修正する', edit_ige_path, method: :get, class: "btn btn-primary" %>
<%= button_to '引用登録する', quote_ige_path, method: :get, class: "btn btn-primary" %>
<%= button_to '削除する', @ige, method: :delete, class: "btn btn-danger", data: { confirm: "削除してよいですか?" } %>

<%= button_to 'ホームへ戻る', root_path, method: :get, class: "btn" %>
