<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><%= link_to Constants::SITE_TITLE, root_path, id: "logo" %></span>
    <!-- Add spacer, to align navigation to the right -->
    <div class="mdl-layout-spacer"></div>
    <div class="material-icons mdl-badge mdl-badge--overlap" data-badge="1">account_box</div>
    <button id="demo-menu-lower-right"
            class="mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">more_vert</i>
    </button>
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
        for="demo-menu-lower-right">
      <% if logged_in? %>
        <li class="header-menu mdl-menu__item"><%= link_to_unless_current "公開ページを見る", current_user %></li>
        <li class="header-menu mdl-menu__item mdl-menu__item--full-bleed-divider"><%= link_to_unless_current "設定変更する", edit_user_path(current_user) %></li>
        <li class="header-menu mdl-menu__item"><%= link_to "ログアウトする", logout_path, method: "delete" %></li>
      <% else %>
        <li class="header-menu mdl-menu__item"><%= link_to "ログインする", login_path %></li>
        <li class="header-menu mdl-menu__item"><%= link_to "会員登録する", signup_path %></li>
      <% end %>
    </ul>
  </div>
</header>