<% IgesHelper::ALLERGEN_SORT.collect do |k, v| %>
  <span class="search-allergen mdl-chip mdl-chip--contact mdl-chip--deletable">
    <% if Rails.application.assets.find_asset("#{k}") %>
      <%= link_to search_result_by_allergen_users_path(:search_key => k) do %>
        <%= image_tag("#{k}.png", alt: "#{k}", size: "32x32", class: "mdl-chip__contact") %>
        <span class="mdl-chip__text"><%= v %></span>
      <% end %>
    <% else %>
      <%= link_to "#{v}の絵に差し替える", search_result_by_allergen_users_path(:search_key => k) %>
    <% end %>
  </span>
<% end %>

<table class="users">
  <tbody>
　　　<%= render users %>
  </tbody>
</table>