<tr>
  <td><%= gravatar_for user, size: 50 %></td>
  <td>
    <%= link_to user.name, user %>
    <% if current_user.admin? && !current_user?(user) %>
      | <%= link_to "削除する", user, method: :delete,
                                    data: { confirm: "削除してよいですか?" } %>
    <% end %>
  </td>

  <td>
    <%= user.iges[0].ige_value %>
  </td>

  <td>
    <% user.iges.each do |record| %>
      <%= render :partial => '/shared/possession_allergen', :locals => {:possession_allergen => record} %>
    <% end %>
  </td>
</tr>