<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <%= render 'users/user_info', user: @user %>
    </section>
    <section class="stats">
      <%= render 'relationships/stats', user: @user %>
    </section>
    <section class="iges">
      <%= line_chart @chart_data_history %>
      <%= render @iges %>
      <% unless @more.nil? %>
        <%= link_to 'もっと見る', iges_path %>
      <% end %>
      <%= button_to 'IgE検査結果を記録する', new_ige_path, method: :get, class: "btn btn-primary" %>
    </section>
    <section class="micropost_form">
      <%= render 'microposts/micropost_form', micropost: @micropost %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3>タイムライン</h3>
    <%= render 'microposts/feed', feed_items: @feed_items %>
  </div>
</div>