<% provide(:title, @user.name) %>
<aside>
  <section class="user_info">

    <%= render 'user_info', user: @user %>

    <p class="user-igevalue">総IgE
      <span>
      <% if @latest_ige.exists? %>
        <%= @latest_ige[0].ige_value.to_s %>
      <% else %>
        --
      <% end %>
      </span>
    </p>

    <div class="mdl-grid">
      <div class="possession-allergen mdl-cell mdl-cell--4-col">
      <% if @latest_ige.exists? %>
        <%= render 'iges/possession_allergen', possession_allergen: @latest_ige[0] %>
      <% end %>
      </div>
    </div>

    <p class="user-introduction"><%= @user.self_introduction %></p>

    <%= render 'relationships/stats', user: @user %>

    <%= render 'follow_form' if logged_in? %>

  </section>
</aside>

<section class="user_contents">
  <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
    <div class="mdl-tabs__tab-bar">
      <a href="#tab_treatment_history" class="mdl-tabs__tab is-active">治療歴</a>
      <a href="#tab_post_list" class="mdl-tabs__tab">投稿</a>
      <a href="#tab_stock_list" class="mdl-tabs__tab">ストック一覧</a>
    </div>

    <div class="mdl-tabs__panel is-active" id="tab_treatment_history">
      <% if @iges.any? %>
        <%= line_chart @chart_data_history %>
        <table class="iges">
          <tbody>
            <%= render @iges %>
          </tbody>
        </table>
        <% unless @more.nil? %>
          <%= link_to 'もっと見る', iges_path %>
        <% end %>
      <% else %>
        まだ記録がありません
      <% end %>
    </div>
    <div class="mdl-tabs__panel" id="tab_post_list">
      <% if @user.microposts.any? %>
        <h3>投稿 (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate(@microposts, :previous_label => '<<', :next_label => '>>') %>
      <% else %>
        <p>投稿がありません</p>
      <% end %>
    </div>
    <div class="mdl-tabs__panel" id="tab_stock_list">
    </div>
  </div>
</section>