<% provide(:title, @title) %>
<aside>
  <section class="user_info">
    <%= render 'users/user_info', user: @user %>
    <span><%= link_to "プロフィールを見る", @user %></span>
    <span><%= pluralize(@user.microposts.count, "投稿") %></span>
  </section>
  <section class="stats">
    <%= render 'relationships/stats', user: @user %>
    <% if @users.any? %>
      <div class="user_avatars">
        <% @users.each do |user| %>
          <%= link_to gravatar_for(user, size: 30), user %>
        <% end %>
      </div>
    <% end %>
  </section>
</aside>
<div class="col-md-8">
  <h3><%= @title %></h3>
  <% if @users.any? %>
    <ul class="users follow">
      <%= render @users %>
    </ul>
    <%= will_paginate(:previous_label => '<<', :next_label => '>>') %>
  <% end %>
</div>