<% provide(:title, @user.name) %>
<aside>
  <section class="user_info">
    <div class="container">
      <div class="row">

        <div class="user_name col-md-2">
          <%= gravatar_for @user %>
          <h1>
            <%= @user.name %>
          </h1>
          <p><%= @user.self_introduction %></p>
        </div>

        <div class="user_summary col-md-8">
          <div class="row">
            <div class="col-md-2">
              <p><%= get_rank_name(@user.rank) %></p>
            </div>
            <div class="col-md-4">
              <p><%= get_title_of_honor(@user.title_of_honor) %></p>
            </div>
          </div>
          <div class="row">
            <p>総IgE:
              <% if @latest_ige.exists? %>
                <%= @latest_ige[0].ige_value.to_s %>
              <% else %>
                --
              <% end %>
            </p>
          </div>
          <div class="row">
            <% if @latest_ige.exists? %>
              <%= render 'iges/possession_allergen', possession_allergen: @latest_ige[0] %>
            <% end %>
          </div>
          <div class="row">
            <div class="col-md-4">
              <%= render 'relationships/stats', user: @user %>
            </div>
            <div class="col-md-2">
              <%= render 'follow_form' if logged_in? %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</aside>

<section class="user_contents">
  <ul class="nav nav-tabs" role="tablist">
    <li class="active" role="presentation">
      <a aria-controls="tab_treatment_history" data-toggle="tab" href="#tab_treatment_history" role="tab">治療歴</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_post_list" data-toggle="tab" href="#tab_post_list" role="tab">投稿</a>
    </li>
    <li role="presentation">
      <a aria-controls="tab_stock_list" data-toggle="tab" href="#tab_stock_list" role="tab">ストック一覧</a>
    </li>
  </ul>
  <div class="tab-content col-md-8">
    <div class="tab-pane active" id="tab_treatment_history" role="tabpanel">
      <% if @iges.any? %>
        <%= line_chart @chart_data_history %>
        <table class="iges">
          <tbody>
            <%= render @iges %>
          </tbody>
        </table>
        <% unless @more.nil? %>
          <%= link_to 'もっと見る', iges_path %>
        <% end %>
      <% else %>
        まだ記録がありません
      <% end %>
    </div>
    <div class="tab-pane" id="tab_post_list" role="tabpanel">
      <% if @user.microposts.any? %>
        <h3>投稿 (<%= @user.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts %>
        </ol>
        <%= will_paginate(@microposts, :previous_label => '<<', :next_label => '>>') %>
      <% else %>
        <p>投稿がありません</p>
      <% end %>
    </div>
    <div class="tab-pane" id="tab_stock_list" role="tabpanel">
    </div>
  </div>
</section>