<footer class="footer">
  <small>
    <a href=<%= Constants::ALLERGYBLUE_URL %>>AllergyBlue</a>
    <a href=<%= Constants::DIAGNOSISCHECK_URL %>>アレルギー診断チェック</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to_unless_current "About",   about_path %></li>
      <li><%= link_to_unless_current "help", help_path %></li>
      <li><%= link_to_unless_current "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>