<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to Constants::SITE_TITLE, root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "help", help_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <%= link_to users_path, :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'} do %>
              他の人を探す <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu">
              <li><%= link_to "IgE値から探す", users_path %></li>
              <li><%= link_to "アレルゲンから探す", search_by_allergen_path %></li>
              <li><%= link_to "IDから探す", users_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              プロフィール <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "公開ページを見る", current_user %></li>
              <li><%= link_to "設定変更する", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウトする", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>